<header>
  <div class="container">
    <div style="display: flex; justify-content: space-between; align-items: center;">
      <a href="">
        <img src="assets/header.png" class="hello">
        <i class="bi bi-search" style="margin-left: 10px;"></i></a>
      <div>
        <a style="margin-left: 15px;"><i class="bi bi-person-fill"></i>Accounts</a>
        <a style="margin-left: 15px;"><i class="bi bi-bag-dash-fill"></i>Shopping</a>
      </div>
    </div>
    <br>
    <hr> 
    <nav>
      <ul>
        <li><a href="">Jewelry & Accessories</a></li>
        <li><a href="">Clothing & Shoes</a></li>
        <li><a href="">Home & Living </a></li>
        <li><a href="">Wedding&Party </a></li>
        <li><a href="">Toys& Entertainment </a></li>
        <li><a href="">Art & Collectibles </a></li>
        <li><a href="">Craft Supplies & Tools </a></li>
      </ul>
    </nav>
  </div>
</header>