<footer >
    <div class="container mx-auto px-4">
        <div class="grid grid-cols-1 md:grid-cols-4 gap-8">
            <div class="container-side">
                <img src="assets/header.png">
                <p>Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing <br>Elit, Sed Do Eiusmod Tempor Incididunt Ut Labore Et<br> Dolore Magna Aliqua</p>
                

            <div>
                <h5 class="text-xl font-bold mb-4">CATALOG</h5>
                <ul class="footer-ul">
                    <li><a href="" >Necklaces</a></li>
                    <li><a href="" >Hoodies</a></li>
                    <li><a href="" >Jewelry Box</a></li>
                    <li><a href="" >T-Shirt</a></li>
                    <li><a href="" >Jacket</a></li>
                </ul>
            </div>

            <div>
                <h5 class="text-xl font-bold mb-4">ABOUT US</h5>
                <ul class="footer-ul">
                    <li><a href="" >Our Producers</a></li>
                    <li><a href="" >Sitemap</a></li>
                    <li><a href="" >FAQ</a></li>
                    <li><a href="" >About Us</a></li>
                    <li><a href="" >Terms & Conditions</a></li>
                </ul>
            </div>

            <div>
                <h5 class="text-xl font-bold mb-4">CUSTOMER SERVICES</h5>
                <ul class="footer-ul">
                <li><a href="" >Contact Us</a></li>
                    <li><a href="">Track Your Order</a></li>
                    <li><a href="" >Product Care & Repair</a></li>
                    <li><a href="" >Book An Appointment</a></li>
                    <li><a href="" >Shipping & Returns</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="last">
        <p>© 2022 Coral, Inc.</p>
        <div class="scroll">
            <p type="button" class="btn btn-link"onclick="window.scrollTo({top: 0, behavior: 'smooth'});" >
                Scroll To Top ↑
            </p>
        </div>
    </div>
    </div>
</footer>