body {
    font-family: Arial, sans-serif; 
    background-color: #F2F4F3;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;

}

.content h1 {
    font-size: 80px; 
    
    margin-left: 120px;
}

.content p {
    font-size: 18px; 
    color: #333; 
    max-width: 500px; 
    margin-bottom: 20px; 
    margin-left: 120px;
}

.content button {
    font-size: 18px;
    padding: 10px 20px; 
    margin-left: 120px;
    background-color: #333;
    color: #fff; 
    border: none;
    cursor: pointer;
}

.model-image img {
    height: 800px;
    border-radius: 70% 0 70% 0%;
    
    
}
.model-image{
    display: flex;
    justify-content: end;
}

.section
{
    display: flex;
    flex-direction: row;
}
.container
{
    max-width: 1540px;
}
#shopNow {
    width: 150px;
  }
