<div class="main-container">
<div class="container-fluid">
    <div class="row">
      <div class="col">
        <img src="assets/one.png" class="img-fluid" alt="image one">
      </div>
      <div class="col">
        <img src="assets/two.png" class="img-fluid" alt="image two">
      </div>
      <div class="col">
        <img src="assets/three.png" class="img-fluid" alt="image three">
      </div>
      <div class="col">
        <img src="assets/four.png" class="img-fluid" alt="image four">
      </div>
      <div class="col">
        <img src="assets/five.png" class="img-fluid" alt="image five">
      </div>
    </div>
  </div>

  <!--images adding-->
  <div class="container my-4">
    <div class="row">
        <div class="col-lg-5">
            
            <img src="assets/ladymodel.png" class="img-fluid ">
            <h2 class="text-center">EXPLORE NEW AND POPULAR STYLES</h2>
        </div>
        <div class="col-lg-5">
            <div class="row">
                <div class="col-6 text-center">
                    <img src="assets/blackcoat.png" alt="Fashion Style 1" class="img-fluid w-100 mb-3">
                </div>
                <div class="col-6 text-center">
                    <img src="assets/whitelady.png" alt="Fashion Style 2" class="img-fluid w-100 mb-3">
                </div>
                <div class="col-6 text-center">
                    <img src="assets/reddesign.png" alt="Fashion Style 4" class="img-fluid w-100 mb-3">
                </div>
                <div class="col-6 text-center">
                    <img src="assets/jacket.png" alt="Fashion Style 5" class="img-fluid w-100 mb-3">
                </div>
            </div>
        </div>
    </div>
</div>
</div>